<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd"
         default-lazy-init="true">

	<bean name="cust" class="com.h2kinfosys.spring.addons.Customer"
		p:firstName="David"
		p:lastName="Nix"
		p:address="Some Address">
	</bean>
	
	
	<bean name="word" class="com.h2kinfosys.spring.addons.MSWord">
		<property name="spellChecker"> 
			<bean class="com.h2kinfosys.spring.addons.SpellChecker">
				<constructor-arg name="language" value="English" />
			</bean>
		</property>
	</bean>
	
	<bean name="collection" class="com.h2kinfosys.spring.addons.CollectionBean">
		<property name="adminEmails"> 
			<props> 
				<prop key="administrator">administrator@example.org</prop> 
				<prop key="support">support@example.org</prop> 
				<prop key="development">development@example.org</prop> 
			</props> 
		</property> 

		<!-- results in a setSomeList(java.util.List) call --> 
		<property name="someList"> 
			<list> 
				<value>List Item One</value> 
				<value>You can Pass reference Object here</value> 
			</list> 
		</property> 
		
		<!-- results in a setSomeMap(java.util.Map) call --> 
		<property name="someMap"> 
			<map> 
				<entry key="KeyOne" value="just some string"/> 
				<entry key="KeyTwo" value="just some string"/> 
			</map> 
		</property> 
		
		<!-- results in a setSomeSet(java.util.Set) call --> 
		
		<property name="someSet"> 
			<set> 
				<value>just some string</value> 
				<value>Non Duplicate Valuues</value>  
			</set> 
		</property>
	</bean>
	
	

</beans>
